/* SMARTPHONE 700px*/
@media screen and (max-width: 1000px) {
  body {
    background: #fff;
  }

  .container {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
  }

  form {
    flex-direction: column;
    /* min-height: 100%; */
  }

  .form-header {
    height: max-content;
    width: 100%;
    background-color: var(--pry-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 1.5rem 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .form-header img {
    width: 10rem;
    height: 10rem;
    margin: 1.5rem 0;
  }

  .form-header p {
    font-family: var(--acme-font);
    font-size: 1.4rem;
  }

  .form-header p:first-of-type {
    margin-bottom: .6rem;
  }

  .form-input {
    width: 95%;
    margin: 0 auto;
    /* padding: 2rem; */
    background-image: url(./assets/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .form-input h4 {
    font-size: 2rem;
  }

  .test-body {
    flex-direction: column;
  }

  .test-body {
    padding-bottom: 3rem;
  }

  .test-body-content {
    width: 100%;
    /* justify-content: flex-start; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .welcome {
    font-size: 3rem;
  }

  .test-body-quiz {
    width: 100%;
    background-image: url(./assets/bg-image.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .instruction {
    margin: 1.5rem 0 3rem 0;
  }

  .instruction-list p {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    width: 95%;
    line-height: 2.3rem;
  }

  .question-box {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
  }

  .subjects-tab-container {
    width: 80%;
    margin-bottom: 2rem;
  }

  .question-container {
    width: 100%;
    /* min-height: 25vh; */
    margin-right: 0;
    border: 0;
    box-shadow: var(--shadow);
  }

  .question-details {
    width: 100%;
  }

  .question-details p {
    font-size: 1.5rem;
  }

  .question-options-details span:nth-child(2) {
    font-size: 1.3rem;
  }

  .submit-btn {
    font-size: 1.4rem;
    padding: 1.2rem;
    letter-spacing: .2rem;
  }

  .submit-alert {
    width: 95%;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(50%);
  }

  .submit-alert h5 {
    font-size: 1.8rem;
  }

  .submit-alert ul li p  {
    font-size: 1.3rem;
  }

  .test-result.special-styles h5 {
    font-size: 1.6rem;
  }

  .test-result.special-styles p {
    font-size: 1.5rem;
  }

  .test-result {
    width: 95%;
    top: 50%;
    transform: translateY(50%);
  }
}