/* SMARTPHONE 700px*/
@media screen and (max-width: 700px) {
  body {
    background: #fff;
  }

  .container {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
  }

  form {
    flex-direction: column;
    /* min-height: 100%; */
  }

  .form-header {
    height: max-content;
    width: 100%;
    background-color: var(--pry-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem 1.5rem 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 3rem;
    margin-right: 5rem;
  }

  .form-header img {
    width: 10rem;
    height: 10rem;
    margin: 1.5rem 0;
  }

  .form-header p {
    font-family: var(--acme-font);
    font-size: 1.4rem;
  }

  .form-header p:first-of-type {
    margin-bottom: .6rem;
  }

  .form-input {
    width: 95%;
    margin: 0 auto;
    /* padding: 2rem; */
    background-image: url(./assets/bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .form-input h4 {
    font-size: 2rem;
  }

  .test-body-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--pry-color);
    padding: 1.5rem 1rem;
    color: var(--white);
  }

  .welcome {
    font-family: var(--cormorant-font);
    font-size: 3rem;
  }

  .welcome b {
    font-family: var(--acme-font);
  }

  .test-body-quiz {
    background-image: url(./assets/bg-image.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .instruction {
    margin: 1.5rem 0 3rem 0;
    text-transform: uppercase;
    font-family: var(--acme-font);
    font-size: 1.5rem;
    text-align: center;
    background: var(--sec-color);
    padding: 1.2rem;
    font-weight: bold;
    letter-spacing: .1rem;
  }

  .instruction-list p {
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    width: 95%;
    padding-bottom: .4rem;
    border-bottom: .1rem solid var(--grey-color);
    line-height: 2.32rem;
  }

  .instruction-list p:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .time-box {
    background: var(--sec-color);
    border-radius: .5rem;
    margin-left: 1.5rem;
  }

  .time-box span {
    font-family: var(--heebo-font);
    font-weight: 600;
    font-size: 2.5rem;
  }

  .question-box {
    padding: 0 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  .subjects-tab-container {
    width: 80%;
    min-height: max-content;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .question-container {
    width: 100%;
    /* min-height: 25vh; */
    border: 0;
    box-shadow: var(--shadow);
  }

  .question-details {
    width: 100%;
  }

  .question-details p {
    font-size: 1.5rem;
  }

  .question-options-details span:nth-child(2) {
    font-size: 1.3rem;
  }

  .submit-btn {
    font-size: 1.4rem;
    padding: 1.2rem;
    letter-spacing: .2rem;
  }

  .submit-alert {
    width: 95%;
    margin-bottom: 0;
    top: 50%;
    transform: translateY(50%);
  }

  .submit-alert h5 {
    font-size: 1.8rem;
  }

  .submit-alert ul li p  {
    font-size: 1.3rem;
  }

  .test-result.special-styles h5 {
    font-size: 1.6rem;
  }

  .test-result.special-styles p {
    font-size: 1.5rem;
  }

  .test-result {
    width: 95%;
    top: 50%;
    transform: translateY(50%);
  }
}