* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

form button {
  cursor: pointer;
}

.subjects {
  display: flex;
}

.subject {
  font-size: 1.2rem;
  border: .1rem solid #000;
  background: #828282;
  color: #000;
  padding: 1rem 2.5rem;
  cursor: pointer;
}

.subject:hover {
  background: #828282bb;
}

.subject.clicked {
  background: #fff;
  border: 0;
}

/* .subject:nth-child(2) {
  margin: 0 2rem;
} */

.questions {
  margin-top: 2rem;
  border: .1rem solid #000;
  padding: 1.5rem;
}

.question-content {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.question-num {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.question-text {
  font-size: 1.8rem;
  font-weight: bold;
}

.question-options {
  margin-left: 3rem;
}

.question-options > * {
  margin-bottom: .7rem;
  display: flex;
  align-items: center;
}

.option-box {
  width: 1rem;
  height: 1rem;
  border: .1rem solid #000;
  border-radius: 100%;
  margin-right: .7rem;
  cursor: pointer;
}

.option-text {
  font-size: 1.2rem;
}

