* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}

body {
  background: #f2f2f2;
}

.hidden {
  display: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}

form button {
  cursor: pointer;
}